<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>麻老弟大酒店</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--引入js样式-->
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="../layui/layui.js"></script>

    <!--引入css样式文件-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">

    <!--引入template插件-->
    <script src="/js/template.js"></script>

    <!--“定金”和“服务码”样式文件-->
    <link rel="stylesheet" href="../myCss/Deposit&ServiceCode.css">


</head>
<body class="layui-bg-cyan" th:inline="text">
<!--// 栅格布局-->
<div class="container-fluid">
    <div class="row">
        <!--左侧 2栅格-->
        <div class="col-md-2 col-sm-12 col-lg-2 col-xs-12">

            <!--麻老弟房子logo-->
            <div>
                <span style="position: static;">
                    <a href="/ma-hotel" style="">
                        <img id="maHouse" src="../img/house.png" style="height: 180px; width: 200px; margin-top: 80%; margin-left: 10%"><br>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="font-weight: bolder; color: #8c939d; font-size: 30px; margin-left: 10%" class="layui-icon layui-icon-return">&nbsp;&nbsp;主页</span>
                    </a>
                </span>
            </div><!--麻老弟房子logo-->
        </div><!--左侧 2栅格-->

        <!--中间8栅格-->
        <div class="col-md-8 col-sm-12 col-lg-8 col-xs-12">
            <!--支付定金-->
            <div id="payDeposit" class="modal-dialog" role="document" style="z-index: 1">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 style="color: #009688; font-weight: bolder">您需要支付定金：</h2>
                    </div>
                    <div class="modal-body">
                        <div id="do-deposit">
                            <script id="templ" type="text/html">
                                <div class="word content">房间：<%=room%></div><br>
                                <div class="word content">定金：
                                    <span style="font-size: 35px; color: #FFB800; font-weight: bold">￥ <%=deposit%></span></div>
                            </script>
                        </div>

                        <br><hr>
                        <div id="v-code" >
                            <img id="my-code" src="../img/pay-code.jpg">
                            <span class="layui-icon layui-icon-login-wechat" style="font-size: 30px;  color: #3e8f3e">
                                <span style="padding: 6px; text-align: center; font-size: 20px">微信支付</span>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="pay" class="layui-btn layui-btn-radius layui-btn-normal" style="font-size: 15px">确认支付</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->


            <!--服务码-->
            <div id="serviceCodeDiv">
                <div id="div--" style="background-color: white">
                    <div id="head"> <p class="layui-icon layui-icon-ok-circle" id="success">&nbsp;&nbsp;&nbsp;预约成功</p></div>
                    <!--<h2 class="word" id="serviceCodeTitle"> 预约成功</h2>-->
                    <hr><br>
                    <span class="layui-icon layui-icon-face-smile-b" id="fuwuma">&nbsp;&nbsp;&nbsp;服务码：</span>
                    <span id="serviceCode" ></span>
                    <div id="note" class="word">请保存好您“服务码”。如果遗忘“服务码”可以在<u>【主页】--【我的预约】</u>查询。</div>
                </div>
            </div> <!--服务码-->
        </div><!--中间8栅格End-->

        <!--右侧2栅格-->
        <div class="col-md-2 col-sm-12 col-lg-2 col-xs-12">
            <div style="height: 10px; background-color: gold"></div>
        </div><!--右侧2栅格-->
    </div>
</div>
<!--模板代码-->
<script>
    let json = sessionStorage.getItem("userMsg");
    let usgMsg = JSON.parse(json);
    $("#do-deposit").html(template($("#templ").html(),{room:usgMsg.room, deposit:usgMsg.deposit}));

    <!--“支付”代码-->
    $("#pay").click(function () {
        let url = "/serviceCode/"+[[${roomId}]];
        $.ajax({
           type:"POST",
           url:url,
           data:usgMsg,
           success:function (data) {
               console.log(data);
               $("#serviceCode").html(data);
           }
        });
        $("#payDeposit").css("display","none");
        $("#serviceCodeDiv").css("display","block");
    });
</script>


</body>



</html>