<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>测试工程</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--引入css样式文件-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">

    <!--引入js样式-->
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="../layui/layui.js"></script>
</head>
<body class="layui-bg-cyan">

    <!--顶部导航栏-->
    <div>
        <ul class="layui-nav " lay-filter="">
            <li class="layui-nav-item" style="background: rgb(95, 184, 120)">
                <a href="/">
                    <img src="../img/malogo2.png" style="height: 60px; width: 95px">
                </a>
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="">服务</a></li>
            <li class="layui-nav-item"><a href="">酒店介绍</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">xxx</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="">xxx</a></dd>
                    <dd><a href="">xxx</a></dd>
                    <dd><a href="">xxx</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">xxx</a></li>
        </ul>
    </div>
    <script src="../myJs/topNav.js"></script>

    <!--// 栅格布局-->
    <div class="container-fluid">
        <div class="row">
            <!--左侧 2栅格-->
            <div class="col-md-12 col-sm-12 col-lg-2 col-xs-12">
                    <!--侧方导航栏-->
                    <span id="sideNav" style="position: absolute; left: 3px; top: 15px">
                        <ul class="layui-nav layui-nav-tree" lay-filter="test">
                            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                            <li class="layui-nav-item layui-nav-itemed">
                                <a href="javascript:;">
                                    <p class="layui-icon layui-icon-read" style="color: rgb(95, 184, 120)">
                                        &nbsp;&nbsp;酒店服务办理</p>
                                </a>
                                <dl class="layui-nav-child">
                                    <dd><a href="javascript:;">查看房间</a></dd>
                                    <dd><a href="javascript:;">酒店预约</a></dd>
                                    <dd><a href="">跳转</a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item">
                                <a href="javascript:;">
                                    <p class="layui-icon layui-icon-dollar" style="color: #FF5722">&nbsp;&nbsp;VIP服务</p>
                                </a>
                                <dl class="layui-nav-child">
                                    <dd><a href=""><p style="color: #FF5722">加入VIP</p></a></dd>
                                    <dd><a href="">VIP服务</a></dd>
                                    <dd><a href="">xxx</a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item">
                                <a href="">
                                    <p style="color: rgb(95, 184, 120)">产品</p>
                                </a>
                            </li>
                            <li class="layui-nav-item">
                                <a href="">
                                    <p class="layui-icon layui-icon-service" style="color: #01AAED">&nbsp;&nbsp;联系客服</p>
                                </a>
                            </li>
                        </ul>
                    </span>
                <div class="row">
                    <div>
                        <img src="../img/house.png" style="margin: 15px; position: absolute; left:1px; top: 400px;height: 120px; width: 130px">
                    </div>
                </div>
            </div>
            <!--右侧 10栅格-->
            <div class="col-md-12 col-sm-12 col-lg-10 col-xs-12" style="top: 17px;">
                    <div id="hotel" style="background-color: #e2e2e2;height: 500px; width: 550px; width: 1000px">
                        <span class="layui-btn layui-btn-radius layui-btn-normal" style="margin: 15px">101</span>
                        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            Popover on 左侧
                        </button>
                    </div>
            </div>
        </div>
    </div>







</body>
</html>