<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>麻老弟大酒店</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--引入css样式文件-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">

    <!--引入我的css样式-->
    <link rel="stylesheet" href="../myCss/myCss.css">

    <!--引入js样式-->
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../layui/layui.js"></script>
</head>
<body class="layui-bg-cyan">


    <!--顶部导航栏-->
    <div>
        <ul class="layui-nav " lay-filter="">
            <li class="layui-nav-item" style="background: rgb(95, 184, 120)">
                <a href="/">
                    <img id="malogo" src="../img/malogo2.png">
                </a>
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="">服务</a></li>
            <li class="layui-nav-item"><a href="">酒店介绍</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">xxx</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="">xxx</a></dd>
                    <dd><a href="">xxx</a></dd>
                    <dd><a href="">xxx</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">xxx</a></li>
        </ul>
    </div>
    <script src="../myJs/topNav.js"></script>

    <!--// 栅格布局-->
    <div class="container-fluid">
        <div class="row">
            <!--左侧 2栅格-->
            <div class="col-md-12 col-sm-12 col-lg-2 col-xs-12">
                    <!--侧方导航栏-->
                    <span id="sideNav">
                        <ul class="layui-nav layui-nav-tree" lay-filter="test">
                            <!-- 侧边导航 -->
                            <li class="layui-nav-item layui-nav-itemed">
                                <a href="javascript:;">
                                    <p id="jiudianfuwubanli" class="layui-icon layui-icon-read">
                                        &nbsp;&nbsp;酒店服务办理</p>
                                </a>
                                <dl class="layui-nav-child">
                                    <dd><a href="javascript:;">查看房间</a></dd>
                                    <dd><a href="javascript:;">我的预约</a></dd>
                                    <dd><a href="javascript:;">酒店预约</a></dd>
                                    <dd><a href="javascript:;">取消预约</a></dd>
                                    <dd><a href="">跳转</a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item">
                                <a href="javascript:;">
                                    <p class="layui-icon layui-icon-dollar" style="color: #FF5722">&nbsp;&nbsp;VIP服务</p>
                                </a>
                                <dl class="layui-nav-child">
                                    <dd><a href=""><p style="color: #FF5722">加入VIP</p></a></dd>
                                    <dd><a href="">VIP服务</a></dd>
                                    <dd><a href="">xxx</a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item">
                                <a href="">
                                    <p style="color: rgb(95, 184, 120)">产品</p>
                                </a>
                            </li>
                            <li class="layui-nav-item">
                                <a href="">
                                    <p class="layui-icon layui-icon-service" style="color: #01AAED">&nbsp;&nbsp;联系客服</p>
                                </a>
                            </li>
                        </ul>
                    </span>
                <div class="row">
                    <!--麻老弟房子logo-->
                    <div>
                        <img id="maHouse" src="../img/house.png" style="z-index: -1">
                    </div>
                </div>
            </div>
            <!--右侧 10栅格-->
            <div class="col-md-12 col-sm-12 col-lg-10 col-xs-12" style="top: 17px;">
                <div id="hotel" >
                    <h2 style="text-align: center; margin-top: 30px;">麻老弟大酒店</h2>
                    <hr style="width: 300px; margin-left: 350px">
                    <div id="allBtn" style="margin-top: 25px; margin-left: 35px;">
                        <!--主页房间按钮-->
                        <span th:each="room: ${roomList}">
                            <div class="btn-group">
                                <button id="roomBtn" class="layui-btn btn-sm" type="button" data-toggle="dropdown"
                                         th:text="${room.roomName}"></button>
                                    <!--button 无用属性：aria-haspopup="true" aria-expanded="false"-->
                                    <!--<span class="caret"></span>-->
                                <ul class="dropdown-menu">
                                  <li><a href="">
                                      <p style="color: #007DDB">预定</p>
                                  </a></li>
                                  <li><a href="" th:text="${room.roomName}"></a></li>
                                  <li><a href="">更多</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                    <br>
                    <button type="button" id="my">我的</button>
                    <!--主页房间按钮代码-->
                    <script src="../myJs/room.js" th:inline="javascript"></script>

                </div>
            </div>
        </div>
    </div>

</body>
</html>