<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>麻老弟大酒店</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--引入css样式文件-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">

    <!--引入我的css样式-->
    <link rel="stylesheet" href="../myCss/myCss.css">

    <!--引入js样式-->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../layui/layui.js"></script>
</head>
<body class="layui-bg-cyan">

    <!--顶部导航栏-->
    <div>
        <ul class="layui-nav " lay-filter="">
            <li class="layui-nav-item" style="background: rgb(95, 184, 120)">
                <a href="/">
                    <img id="malogo" src="../img/malogo2.png">
                </a>
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="">服务</a></li>
            <li class="layui-nav-item"><a href="">酒店介绍</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">xxx</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="">xxx</a></dd>
                    <dd><a href="">xxx</a></dd>
                    <dd><a href="">xxx</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">xxx</a></li>
        </ul>
    </div>
    <script src="../myJs/topNav.js"></script>

    <!--// 栅格布局-->
    <div class="container-fluid">
        <div class="row">
            <!--左侧 2栅格-->
            <div class="col-md-12 col-sm-12 col-lg-2 col-xs-12">
                    <!--侧方导航栏-->
                    <span id="sideNav""">
                        <ul class="layui-nav layui-nav-tree" lay-filter="test">
                            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                            <li class="layui-nav-item layui-nav-itemed">
                                <a href="javascript:;">
                                    <p id="jiudianfuwubanli" class="layui-icon layui-icon-read">
                                        &nbsp;&nbsp;酒店服务办理</p>
                                </a>
                                <dl class="layui-nav-child">
                                    <dd><a href="javascript:;">查看房间</a></dd>
                                    <dd><a href="javascript:;">我的预约</a></dd>
                                    <dd><a href="javascript:;">酒店预约</a></dd>
                                    <dd><a href="javascript:;">取消预约</a></dd>
                                    <dd><a href="">跳转</a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item">
                                <a href="javascript:;">
                                    <p class="layui-icon layui-icon-dollar" style="color: #FF5722">&nbsp;&nbsp;VIP服务</p>
                                </a>
                                <dl class="layui-nav-child">
                                    <dd><a href=""><p style="color: #FF5722">加入VIP</p></a></dd>
                                    <dd><a href="">VIP服务</a></dd>
                                    <dd><a href="">xxx</a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item">
                                <a href="">
                                    <p style="color: rgb(95, 184, 120)">产品</p>
                                </a>
                            </li>
                            <li class="layui-nav-item">
                                <a href="">
                                    <p class="layui-icon layui-icon-service" style="color: #01AAED">&nbsp;&nbsp;联系客服</p>
                                </a>
                            </li>
                        </ul>
                    </span>
                <div class="row">
                    <div>
                        <img id="maHouse" src="../img/house.png">
                    </div>
                </div>
            </div>
            <!--右侧 10栅格-->
            <div class="col-md-12 col-sm-12 col-lg-10 col-xs-12" style="top: 17px;">
                <div id="hotel">
                    <span class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
                        <button data-method="confirmTrans" class="layui-btn">配置一个透明的询问框</button>
                    </span>

                    <script>
                        layui.use('layer', function(){ //独立版的layer无需执行这一句
                            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

                            //触发事件
                            var active = {
                                confirmTrans: function(){
                                    //配置一个透明的询问框
                                    layer.msg('怎么样传数据过来啊~~', {
                                        time: 20000, //20s后自动关闭
                                        btn: ['预约', '知道了', '更多']
                                    });
                                }
                            };
                            $('#layerDemo .layui-btn').on('click', function(){
                                var othis = $(this), method = othis.data('method');
                                active[method] ? active[method].call(this, othis) : '';
                            });
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>

</body>
</html>