/*
首页左上角麻老弟logo
*/
#malogo{
    height: 60px;
    width: 95px
}

/**
麻老弟房子的icon图片
 */
#maHouse{
    margin: 15px;
    position: absolute;
    left:1px;
    top: 400px;
    height: 120px;
    width: 130px
}

/*酒店服务办理icon*/
#jiudianfuwubanli{
    color: rgb(95, 184, 120)
}

/**
侧方导航栏
 */
#sideNav{
    position: absolute;
    left: 3px;
    top: 15px
}

/**
中间的大区块
 */
#hotel{
    position: absolute;
    left: 10px;
    background-color: #5882742e;
    height: 500px;
    width: 1000px
}

/**
首页的房间按钮
 */
#roomBtn{
    margin-top: 6px;
}